.Container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .Title {
    font-size: 0.875rem;
    font-family: "Roboto Flex";
    color: #243b53;
  }

  .ImageWrapper {
    display: flex;
    gap: 0.25rem;

    div {
      width: calc(25% - 0.1875rem);
    }
  }
}
