.Container {
  display: flex;
  align-items: center;
  color: #005dde;
  font-size: 1.125rem;

  &.Stopped {
    color: red;
  }

  .LoadingIcon {
    margin-right: 0.5rem;

    svg {
      fill: #005dde;
    }
  }

  .LoadingText {
    font-weight: 500;
  }

  .StepsNumber {
    margin-left: 0.5rem;
  }

  .StepsText {
    margin-left: 0.25rem;
  }
}
