.Container {
  display: flex;
  align-items: center;
  color: #005dde;

  .LoadingIcon svg {
    fill: #005dde;
  }

  .LoadingText {
    margin: 0 0.5rem;
    font-weight: 500;
  }

  .StepCalculation {
    margin: 0 0 -0.25rem 0.125rem;
    font-size: 0.75rem;
  }

  .StepsText {
    margin-left: 0.25rem;
  }
}
